.client-container {
    margin-top: 50px;
}
p {
    font-size: 16px;
}

.button-container {
    margin: 10px;
    max-width: 300px;
}

tr.deactivated {
    background-color: rgba(255, 130, 130, 0.69);
}

.d-flex {
    padding: 10px;
}

.subject__select {
    padding-top: 0!important;
    margin-top: -2px!important;
    margin-left: 10px;
}

.change-photo {
    margin-top: 15px;
}

td {
    min-height: 50px;
}

.d-flex {}
