@import "../../../styles/colors";
nav {
    z-index: 9999;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    box-sizing: border-box;

    .container {
        padding: 5px 15px;
    }

    a {
        color: #000000;
        text-decoration: none;
    }

    .logo {
        img {
            height: 55px;
            width: auto;
        }
    }

    .badge {
        .v-badge {
            margin-top: 14px;
        }

        position: relative;

        .badge-dropdown-content {
            position: absolute;
            width: 300px;
            height: 300px;
            right: 0;
            top: 100%;
            border: 1px solid #dee2e6;
            background-color: #fff;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
            padding: 10px;

            .header {
                    span {
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
    }

    .user-dropdown {
        border-left: 1px solid #dee2e6;
        padding: 5px 5px 5px 35px;
        margin-left: 50px;
        position: relative;

        .user-info {
            margin-right: 10px;

            .user-name {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 5px;
            }

            .user-role {
                font-size: 12px;
                opacity: .66;
            }
        }

        img {
            height: 40px;
            width: auto;
        }

        .user-dropdown-content {
            z-index: 1;
            width: calc(100% - 35px);
            top: 100%;
            position: absolute;
            border-radius: 5px;
                        border: 1px solid #dee2e6;
                        background-color: #fff;
                        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);

            li {
                padding: 15px 10px;
                border-bottom: 1px solid #ededed;
                &:hover {
                    background-color: #e2e2e2;
                }
            }
        }
    }

    .nav-control {
        z-index: 1;
        width: 100%;
        height: 50px;
        background-color: #212121;

        .container {
            padding: 0;
            height: 100%;

            .navigation {
                font-size: 1rem;
                height: 100%;
                color: #fff;
                padding: 0;
                margin: 0;
                list-style: none;

                .nav-item {
                    padding: 0 35px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    font-weight: 600;
                    height: 100%;
                    box-sizing: border-box;

                    &:hover, &-active {
                        background-color: #000;
                        border-bottom: 7px solid $active-color;
                        padding-top: 7px;
                    }

                    span {
                        margin-left: 10px;
                    }
                }
            }
        }

    }


}
